.project-controls {
    margin-top: -24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .bounce {
    display: flex;
  }

  .spinner {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }