.icon {
  border: 0;
  background-color: transparent;
  color: var(--text-color);
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  &:hover {
    transform: scale(1.2);
    color: var(--highlight-color);
  }
}


.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

#scrollbar::-webkit-scrollbar {
  width: 4px;
}

#scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--card-color);
}

#scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
 background-clip: content-box;
  background-color: var(--highlight-color);
}
.grid {
  max-width: 1100px;
  max-height: 732px;
  height: 100%;
  width: 100%;
  margin: 8px;
  display: grid;
  gap: 20px;
  grid-template-areas:
    "welcome welcome about"
    "links projects about"
    "contact projects about"
    "contact projects skills"
    "contact projects chicago"
    "contact settings chicago"
    "legal settings chicago";
  --min-welcome-height: 100px;
}

@media (max-width: 1024px) {
  .grid {
    margin: 8px;
    max-height: calc(100% - 16px);
    height: 100%;
  width: 100%;
    grid-template-areas:
    "welcome welcome"
    "about projects"
    "contact skills"
    "contact links"
    "contact chicago"
    "legal settings";
    --min-welcome-height: 150px;
  }
}

@media (max-width: 732px) {
  .grid {
    height: 100%;
    max-height: calc(100% - 16px);
  width: 100%;
    margin: 8px;
    grid-template-areas:
      "welcome"
      "about"
      "projects"
      "skills"
      "links"
      "contact"
      "chicago"
      "settings"
      "legal";
    grid-template-columns: 1fr;
    --min-welcome-height: 200px;
  }
}
